<nz-layout>
    <nz-header>
            <div class="logo"><img [src]="sysconfig.logo" style="width:100%;"/></div>
            <div class="bannertitle">{{sysconfig.systemName}}</div>
    </nz-header>
    <nz-content>
        <div nz-row>
            <div nz-col [nzSpan]="10" [nzOffset]="7">
                <form nz-form [formGroup]="validateForm" class="login-form loginpanel" (ngSubmit)="_submitForm()">
                    <div nz-form-item style="text-align:center;">
                        <i class="anticon anticon-user" style="font-size:600%;font-weight:600;color:#60a8e8;"></i>
                    </div>
                    <div nz-form-item>
                        <div nz-form-control [nzValidateStatus]="validateForm.controls.userName">
                        <nz-input formControlName="userName" [nzPlaceHolder]="'请输入用户名'" [nzSize]="'large'">
                            <ng-template #prefix>
                            <i class="anticon anticon-user"></i>
                            </ng-template>
                        </nz-input>
                        <div nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">请输入用户名</div>
                        </div>
                    </div>
                    <div nz-form-item>
                        <div nz-form-control [nzValidateStatus]="validateForm.controls.password">
                        <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'请输入密码'" [nzSize]="'large'">
                            <ng-template #prefix>
                            <i class="anticon anticon-lock"></i>
                            </ng-template>
                        </nz-input>
                        <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">请输入密码</div>
                        </div>
                    </div>
                    <div nz-form-item>
                        <div nz-form-control>
                        <label nz-checkbox formControlName="remember">
                            <span>记住登录名</span>
                        </label>
                        
                        <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">登录</button>
                    
                        </div>
                    </div>
                    <div nz-form-item>
                        <nz-alert *ngIf="isLoginError" [nzType]="'error'" [nzMessage]="loginError" [nzShowIcon]="'true'">
                            </nz-alert>
                    </div>
                </form>
                
            </div>
        </div>
    </nz-content>
    <app-footer-bar></app-footer-bar>
</nz-layout>
