<nz-layout class="layout" *ngIf="isLogin">
    <nz-header>
      <app-banner-bar></app-banner-bar>
    </nz-header>
    <nz-layout>
        <nz-sider [nzWidth]="200" style="background:#fff">
            <app-nav-tree></app-nav-tree>
        </nz-sider>
      <nz-layout style="padding:0 24px 24px">
          
          <app-berad-nav></app-berad-nav>
        <nz-content style="background:#fff; padding: 24px; min-height: 280px;">
          <router-outlet></router-outlet>
        </nz-content>
        <app-footer-bar></app-footer-bar>
      </nz-layout>
    </nz-layout>
  </nz-layout>
  <app-login *ngIf="!isLogin"></app-login>